<div class="sidebar bg-white" style="height: 100%;">
    <div class="py-6 px-10">
        <div class="mb-24">
            <img src="assets/icons/todo.png" alt="" srcset="" class="ml-1">
            <p style="width: max-content; margin-left: -5px">TO-DO</p>
        </div>
        <div>
            <img src="assets/icons/icon-1.png" alt="" srcset="" class="mb-8">
            <img src="assets/icons/icon-2.png" alt="" srcset="" class="ml-2 mb-8">
            <img src="assets/icons/icon-3.png" alt="" srcset="" class="ml-2 mb-8">
            <img src="assets/icons/icon-4.png" alt="" srcset="" class="ml-3 mb-8">
            <img src="assets/icons/icon-5.png" alt="" srcset="" class="ml-2 mb-8">
            <img src="assets/icons/icon-6.png" alt="" srcset="" class="ml-2 mb-8">
        </div>
    </div>
</div>